.card {
  width: 400px;
  border: 2px solid darkgreen;
  border-radius: 5px;
  padding: 1px;
  margin-top: 3px;
  user-select: none;

  &_isDragging {
    opacity: 0;
  }

  .inner {
    background: darkgreen;
    padding: 5px 10px;
    color: #FFF;
    border-radius: 3px;
  }


}
